In [12]:
import pandas as pd
import numpy as np
df_rides = pd.read_pickle('df_rides')

In [4]:
df_rides.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,...,distance_Manhattan,Season,DayOfYear,DayOfWeek,hour,day,month,year,daylighthours,Holiday
id,,,,,,,,,,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,...,1723.957684,1,74,0,17,14,3,2016,11.864576,False
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,...,2441.748555,2,164,6,0,12,6,2016,15.017241,False
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,...,8156.039197,1,19,1,11,19,1,2016,9.675665,False
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,...,1644.816109,2,97,2,19,6,4,2016,12.900760,False
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,...,1211.250987,1,86,5,13,26,3,2016,12.409669,False

In [16]:
#zeiten = (df_rides['dropoff_datetime']-df_rides['pickup_datetime']) /  np.timedelta64(1, 'h')
df_rides['kmh'] = (df_rides['distance_Manhattan']/1000)/((df_rides['dropoff_datetime']-df_rides['pickup_datetime']) /  np.timedelta64(1, 'h'))
df_rides['kmh']

id
id2875421    13.640105
id2377394    13.258363
id3858529    13.823795
id3504673    13.802653
id2181028    10.024146
id0801584    12.632358
id1813257    19.799725
id1324603    18.762706
id1301050    24.990419
id0012891    16.738421
id1436371    14.289550
id1299289    16.955243
id1187965     7.241600
id0799785    19.095700
id2900608    19.412974
id3319787    15.363779
id3379579     6.231412
id1154431    14.410618
id3552682    16.858892
id3390316    25.214818
id2070428    25.884605
id0809232    13.444545
id2352683    19.472679
id1603037    17.863917
id3321406    42.208086
id0129640    16.277714
id3587298    24.636763
id2104175    23.045817
id3973319    13.351141
id1410897    17.840998
               ...
id2061444    16.751554
id3182230    16.414571
id2822294     8.660903
id0820021    14.282420
id1046767    13.873865
id1083860    13.726681
id0694577    17.918943
id3267199     9.411230
id0125435     6.355360
id3369208    12.638260
id3482902    25.212536
id3730733     9.279496
id0155863    22.843711
id0439281    12.203439
id0986544    19.500919
id3109086    19.938713
id0287353    11.816723
id1724231    23.999130
id0469946    24.147980
id2432342    14.975589
id3445276    25.552517
id3027038    13.117457
id0405770     4.344152
id1920898    23.489494
id1454193    20.596986
id2376096     7.740368
id1049543    44.084637
id2304944    49.992123
id2714485    14.656609
id1209952    28.067000
Name: kmh, Length: 1458644, dtype: float64

In [14]:
zeiten = (df_rides['dropoff_datetime']-df_rides['pickup_datetime']) /  np.timedelta64(1, 'h')
zeiten
#zeiten?

id
id2875421    0.126389
id2377394    0.184167
id3858529    0.590000
id3504673    0.119167
id2181028    0.120833
id0801584    0.123056
id1813257    0.094722
id1324603    0.430833
id1301050    0.070833
id0012891    0.340278
id1436371    0.353889
id1299289    0.313333
id1187965    0.309444
id0799785    0.072222
id2900608    0.392778
id3319787    0.058611
id3379579    0.643333
id1154431    0.203056
id3552682    0.365833
id3390316    0.069722
id2070428    0.135000
id0809232    0.181111
id2352683    0.117500
id1603037    0.323056
id3321406    0.690278
id0129640    0.356389
id3587298    0.313889
id2104175    0.192778
id3973319    0.247778
id1410897    0.647500
               ...
id2061444    0.093889
id3182230    0.238056
id2822294    0.135556
id0820021    0.057778
id1046767    0.101944
id1083860    0.196667
id0694577    0.322778
id3267199    0.654167
id0125435    0.153333
id3369208    0.153889
id3482902    0.042222
id3730733    0.556111
id0155863    0.067778
id0439281    0.244444
id0986544    0.097500
id3109086    0.166944
id0287353    0.152500
id1724231    0.095000
id0469946    0.215833
id2432342    0.271944
id3445276    0.270000
id3027038    0.065833
id0405770    0.222222
id1920898    0.211111
id1454193    0.115000
id2376096    0.216111
id1049543    0.181944
id2304944    0.212222
id2714485    0.103611
id1209952    0.055000
Length: 1458644, dtype: float64