In [1]:
import sys, os
sys.path.insert(0,"../code")

import pandas as pd
import numpy as np
import geopandas as gpd
import folium 

%load_ext autoreload
%autoreload 2

# Load Data

In [2]:
def load_data(path_data="../data"): 
    
    if not os.path.exists(path_data): 
        os.mkdir(path)
    
    if not os.path.path.exists(os.path.join(path_data,"nyc-taxi-trip-duration")): 
        pass
        #!curl -o FremontBridge.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD
        #download file 
        #unzip file

In [3]:
PATH_DATA = os.path.join("..\data","nyc-taxi-trip-duration","train","train.csv")

df_rides = pd.read_csv(PATH_DATA,index_col=0,parse_dates=[2,3],dtype={'store_and_fwd_flag':'category','vendor_id':'category','passenger_count':'int8',})
print(df_rides.info())
df_rides.head()

<class 'pandas.core.frame.DataFrame'>
Index: 1458644 entries, id2875421 to id1209952
Data columns (total 10 columns):
vendor_id             1458644 non-null category
pickup_datetime       1458644 non-null datetime64[ns]
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int8
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null category
trip_duration         1458644 non-null int64
dtypes: category(2), datetime64[ns](2), float64(4), int64(1), int8(1)
memory usage: 93.2+ MB
None

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
id,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
pd.isna(df_rides).sum()

vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [5]:
assert(df_rides.index.unique().shape[0]==df_rides.shape[0])
assert(np.all(df_rides.dropoff_datetime>df_rides.pickup_datetime))
assert(np.all(df_rides.passenger_count>=0))
#assert(np.allclose((df_rides.dropoff_datetime-df_rides.pickup_datetime).dt.seconds.values,df_rides.trip_duration,))

In [6]:
from shapely.geometry import Point

def transform_to_geodf(df_rides,set_geometry_col='pickup'): 
        df_rides['pickup_geom'] = list(zip(df_rides.pickup_longitude,df_rides.pickup_latitude))
        df_rides['pickup_geom'] = df_rides['pickup_geom'].apply(Point)
        df_rides['dropoff_geom'] = list(zip(df_rides.dropoff_longitude,df_rides.dropoff_latitude))
        df_rides['dropoff_geom'] = df_rides['dropoff_geom'].apply(Point)
        df_rides = gpd.GeoDataFrame(df_rides,geometry=f'{set_geometry_col}_geom',crs={"init":"epsg:4326"})
        
        return df_rides

In [7]:
df_rides = transform_to_geodf(df_rides)
df_rides.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_geom,dropoff_geom
id,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,POINT (-73.98215484619139 40.76793670654297),POINT (-73.96463012695313 40.76560211181641)
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,POINT (-73.98041534423827 40.73856353759766),POINT (-73.99948120117188 40.73115158081055)
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,POINT (-73.97902679443358 40.76393890380859),POINT (-74.00533294677734 40.71008682250977)
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,POINT (-74.01004028320313 40.719970703125),POINT (-74.01226806640625 40.70671844482422)
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,POINT (-73.97305297851563 40.79320907592773),POINT (-73.97292327880859 40.78252029418945)

In [8]:
# Correct utm-zone: {'init': 'epsg:32618'}

In [9]:
# Correct utm-zone: {'init': 'epsg:32618'}
#df_rides.to_crs()
import pyproj
def convert_projection_to_utm(df,col_x_source,col_y_source,
                              col_x_dest = 'x_utm', col_y_dest = 'y_utm',
                              projection_source=pyproj.Proj("+init=EPSG:4326"),
                              projection_dest=pyproj.Proj("+init=EPSG:32618")):
    x,y = pyproj.transform(projection_source, projection_dest,df[col_x_source].values,df[col_y_source].values)
    return df.assign(**{col_x_dest:x,col_y_dest:y})

def calc_distance(df,col_x1_utm,col_x2_utm,col_y1_utm,col_y2_utm,type_='Manhattan'):
    if type_ =='beeline':
        distance = np.sqrt((df[col_x1_utm]-df[col_x2_utm])**2+(df[col_y1_utm]-df[col_y2_utm])**2)
    elif type_ =='Manhattan':
        distance = np.abs((df[col_x1_utm]-df[col_x2_utm]))+np.abs((df[col_y1_utm]-df[col_y2_utm]))
    return df.assign(**{f"distance_{type_}": distance})

df_rides = convert_projection_to_utm(df_rides,col_x_source='pickup_longitude',col_y_source='pickup_latitude',col_x_dest="pickup_x_utm",col_y_dest='pickup_y_utm')
df_rides = convert_projection_to_utm(df_rides,col_x_source='dropoff_longitude',col_y_source='dropoff_latitude',col_x_dest="dropoff_x_utm",col_y_dest='dropoff_y_utm')
#df_rides.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_geom,dropoff_geom,pickup_x_utm,pickup_y_utm,dropoff_x_utm,dropoff_y_utm
id,,,,,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,POINT (-73.98215484619139 40.76793670654297),POINT (-73.96463012695313 40.76560211181641),585902.544347,4.513495e+06,587384.651075,4.513253e+06
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,POINT (-73.98041534423827 40.73856353759766),POINT (-73.99948120117188 40.73115158081055),586087.236357,4.510236e+06,584486.788662,4.509394e+06
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,POINT (-73.97902679443358 40.76393890380859),POINT (-74.00533294677734 40.71008682250977),586171.709289,4.513054e+06,584019.127278,4.507050e+06
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,POINT (-74.01004028320313 40.719970703125),POINT (-74.01226806640625 40.70671844482422),583609.127585,4.508143e+06,583437.516201,4.506670e+06
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,POINT (-73.97305297851563 40.79320907592773),POINT (-73.97292327880859 40.78252029418945),586637.875245,4.516309e+06,586662.713668,4.515123e+06

In [10]:
#df['distances']=calc_distance(df_rides,df_rides['pickup_x_utm'],df_rides['pickup_y_utm'],df_rides['dropoff_x_utm'],df_rides['dropoff_y_utm'])
df_rides=calc_distance(df_rides,'pickup_x_utm','dropoff_x_utm','pickup_y_utm','dropoff_y_utm')

In [12]:
df_rides['pickup_datetime'][1].day

12

In [13]:
import holidays
us_holidays = holidays.US()
def Zeiten(df):
    times=pd.DatetimeIndex(df['pickup_datetime'])
    dayofweek = times.dayofweek
    dayofyear = times.dayofyear
    season = times.quarter
    hour = times.hour
    day = times.day
    year = times.year
    month= times.month
    holiday = [holiday.append(x) for dayofweek in us_holidays]
    return df.assign(**{"Season": season,'DayOfYear':dayofyear,"DayOfWeek":dayofweek,"hour":hour,"day":day,'month':month,'year':year})


#dict_test = {0:'winter',1:'spring',2:'summer',3:'fall'}
#df_rides.replace({"season": dict_test}).head()

In [14]:
df_rides=Zeiten(df_rides)
df_rides.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,...,dropoff_x_utm,dropoff_y_utm,distance_Manhattan,Season,DayOfYear,DayOfWeek,hour,day,month,year
id,,,,,,,,,,,,,,,,,,,,,
id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,...,587384.651075,4.513253e+06,1723.957684,1,74,0,17,14,3,2016
id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,...,584486.788662,4.509394e+06,2441.748555,2,164,6,0,12,6,2016
id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,...,584019.127278,4.507050e+06,8156.039197,1,19,1,11,19,1,2016
id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,...,583437.516201,4.506670e+06,1644.816109,2,97,2,19,6,4,2016
id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,...,586662.713668,4.515123e+06,1211.250987,1,86,5,13,26,3,2016

# Sonnenstunden

In [17]:
import datetime
from suntime import Sun, SunTimeException
# #Möglichkeit 1
# def Sonnenstunden(df):
#     Sonnenstunden=[]
#     for i in range(df.shape[0]):
#         lat = df_rides['pickup_latitude'][i]
#         long = df_rides['pickup_longitude'][i]
#         sun = Sun(lat,long)
#         date = datetime.date(df_rides['pickup_datetime'][i].year, df_rides['pickup_datetime'][i].month, df_rides['pickup_datetime'][i].day)
#         sunrise= sun.get_sunrise_time(date)
#         sunset = sun.get_sunset_time(date)
#         hours = sunset-sunrise
#         c = sunset - sunrise
#         datetime.timedelta(0, 8, 562000)
#         h=(divmod(c.days * 86400 + c.seconds, 60))
#         stunden=h[0]/60
#         #print(stunden)
#         #print(hours)
#         Sonnenstunden.append(hours)
    
#     return df.assign(**{"Sonnensrunden": Sonnenstunden})
#df_rides=Sonnenstunden(df_rides)
#Möglichkeit 2
def calc_daylight(df, pickup_latitude,day_of_year):
    P = np.arcsin(0.39795 * np.cos(0.2163108 + 2 * np.arctan(0.9671396 * np.tan(.00860 * (df[day_of_year].astype(int) - 186)))))
    #assert(False)
    pi = math.pi
    daylightamount = 24 - (24 / pi) * np.arccos(
        (np.sin((0.8333 * pi / 180) + np.sin(df[pickup_latitude] * pi / 180) * np.sin(P)) / (np.cos(df[pickup_latitude] * pi / 180) * np.cos(P))))
    #assert(False)
    return df.assign(**{"daylighthours": daylightamount})

import math
df_rides=calc_daylight(df_rides,'pickup_latitude','DayOfYear')

# Holidays

In [46]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

dr = pd.date_range(start='2016-01-01', end='2016-12-31')
cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

df_rides['holiday2'] = df_rides['pickup_datetime'].dt.date.astype('datetime64').isin(holidays)
df_rides.head()

In [56]:
df_rides[df_rides['holiday2']==True]

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,...,DayOfYear,DayOfWeek,hour,day,month,year,Sonnensrunden,holiday,daylighthours,holiday2
id,,,,,,,,,,,,,,,,,,,,,
id0675800,2,2016-02-15 09:25:15,2016-02-15 09:35:49,6,-73.977753,40.754631,-74.001678,40.756420,N,634,...,46,0,9,15,2,2016,10:39:00,None,10.633106,True
id2648478,1,2016-01-18 11:13:59,2016-01-18 11:18:56,1,-73.951576,40.766468,-73.960213,40.760540,N,297,...,18,0,11,18,1,2016,09:39:00,None,9.648458,True
id3620795,1,2016-01-01 10:45:24,2016-01-01 10:51:47,1,-74.001610,40.740810,-73.996223,40.725903,N,383,...,1,4,10,1,1,2016,09:19:00,None,9.327659,True
id1674373,2,2016-02-15 17:52:27,2016-02-15 18:02:13,5,-74.007500,40.740952,-74.016647,40.704910,N,586,...,46,0,17,15,2,2016,10:39:00,None,10.633813,True
id2677357,2,2016-02-15 16:36:19,2016-02-15 16:41:50,2,-73.971634,40.781963,-73.981689,40.778996,N,331,...,46,0,16,15,2,2016,10:39:00,None,10.631694,True
id2336715,2,2016-01-01 00:09:03,2016-01-01 00:19:25,2,-73.984360,40.748985,-73.996284,40.716057,N,622,...,1,4,0,1,1,2016,09:19:00,None,9.326837,True
id3013319,2,2016-02-15 22:28:54,2016-02-15 22:30:27,1,-73.981400,40.778793,-73.976524,40.782497,N,93,...,46,0,22,15,2,2016,10:39:00,None,10.631857,True
id2640178,1,2016-02-15 16:12:24,2016-02-15 16:31:27,1,-73.953979,40.763859,-73.996437,40.715511,N,1143,...,46,0,16,15,2,2016,10:40:00,None,10.632630,True
id0861216,2,2016-01-18 13:00:37,2016-01-18 13:10:57,1,-73.990250,40.757286,-73.963982,40.756920,N,620,...,18,0,13,18,1,2016,09:39:00,None,9.649267,True
id3838936,1,2016-02-15 00:21:31,2016-02-15 00:24:17,2,-73.994072,40.741112,-73.998672,40.742256,N,166,...,46,0,0,15,2,2016,10:39:00,None,10.633805,True
id0556588,2,2016-02-15 19:50:44,2016-02-15 19:57:35,5,-73.991707,40.747765,-73.980324,40.743237,N,411,...,46,0,19,15,2,2016,10:39:00,None,10.633461,True
id0645865,2,2016-01-01 03:49:48,2016-01-01 03:52:53,2,-73.953148,40.791618,-73.968208,40.797230,N,185,...,1,4,3,1,1,2016,09:19:00,None,9.322543,True
id2873647,1,2016-01-18 12:54:42,2016-01-18 13:05:22,1,-73.980003,40.785667,-73.964478,40.775932,N,640,...,18,0,12,18,1,2016,09:39:00,None,9.646764,True
id3806962,2,2016-01-01 15:48:58,2016-01-01 15:53:38,6,-74.005363,40.722340,-73.994698,40.740139,N,280,...,1,4,15,1,1,2016,09:19:00,None,9.329517,True
id2426559,1,2016-02-15 19:01:21,2016-02-15 19:13:05,2,-74.005882,40.735878,-73.999641,40.723503,N,704,...,46,0,19,15,2,2016,10:39:00,None,10.634075,True
id0556653,2,2016-05-30 13:33:07,2016-05-30 13:41:03,2,-74.000748,40.718281,-73.996140,40.690948,N,476,...,151,0,13,30,5,2016,-1 days +14:52:00,None,14.821575,True
id0571618,1,2016-05-30 13:08:31,2016-05-30 13:15:25,2,-74.005287,40.719158,-74.015442,40.714436,N,414,...,151,0,13,30,5,2016,-1 days +14:52:00,None,14.821663,True
id2987313,2,2016-01-01 09:47:11,2016-01-01 09:49:57,1,-73.994072,40.751282,-73.994293,40.758526,N,166,...,1,4,9,1,1,2016,09:19:00,None,9.326606,True
id3137021,1,2016-01-18 11:44:25,2016-01-18 11:48:51,1,-73.967766,40.801182,-73.959396,40.813953,N,266,...,18,0,11,18,1,2016,09:39:00,None,9.645394,True
id1527619,1,2016-01-01 03:20:59,2016-01-01 03:43:06,1,-73.996376,40.748837,-73.987129,40.697567,N,1327,...,1,4,3,1,1,2016,09:19:00,None,9.326852,True
id3600299,1,2016-01-18 15:52:47,2016-01-18 16:01:42,3,-73.977623,40.779243,-73.978760,40.759171,N,535,...,18,0,15,18,1,2016,09:39:00,None,9.647331,True
id3018151,2,2016-05-30 12:13:20,2016-05-30 12:31:27,2,-73.870880,40.773739,-73.929062,40.850849,N,1087,...,151,0,12,30,5,2016,-1 days +14:53:00,None,14.827112,True
id3825472,2,2016-02-15 22:52:31,2016-02-15 22:58:16,2,-73.973228,40.763950,-73.963409,40.765789,N,345,...,46,0,22,15,2,2016,10:39:00,None,10.632625,True
id3920129,2,2016-01-01 18:04:33,2016-01-01 18:09:44,5,-73.981087,40.764336,-73.980888,40.771591,N,311,...,1,4,18,1,1,2016,09:19:00,None,9.325292,True
id0274861,1,2016-01-18 19:11:52,2016-01-18 19:19:55,2,-73.959267,40.767582,-73.976837,40.743504,N,483,...,18,0,19,18,1,2016,09:39:00,None,9.648360,True
id3397528,2,2016-05-30 04:01:54,2016-05-30 04:16:24,5,-73.993294,40.722450,-73.999222,40.673260,N,870,...,151,0,4,30,5,2016,-1 days +14:52:00,None,14.821991,True
id0593374,1,2016-05-30 23:02:53,2016-05-30 23:31:42,2,-73.776718,40.645107,-73.917183,40.700546,N,1729,...,151,0,23,30,5,2016,-1 days +14:52:00,None,14.814286,True
id1551292,1,2016-01-18 19:55:19,2016-01-18 20:04:07,2,-73.953758,40.763584,-73.951492,40.782074,N,528,...,18,0,19,18,1,2016,09:39:00,None,9.648712,True
id3483574,2,2016-05-30 18:50:20,2016-05-30 19:05:08,6,-74.008492,40.716480,-73.994270,40.722530,N,888,...,151,0,18,30,5,2016,-1 days +14:52:00,None,14.821396,True
id0302042,1,2016-02-15 09:24:11,2016-02-15 09:45:06,1,-74.015068,40.715954,-73.979851,40.764709,N,1255,...,46,0,9,15,2,2016,10:40:00,None,10.635104,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id0130157,1,2016-01-01 14:54:02,2016-01-01 15:14:55,2,-73.782692,40.644726,-73.861641,40.768303,N,1253,...,1,4,14,1,1,2016,09:19:00,None,9.337310,True
id0186914,2,2016-01-01 17:31:43,2016-01-01 17:33:19,1,-73.988762,40.768703,-73.983261,40.775833,N,96,...,1,4,17,1,1,2016,09:18:00,None,9.324852,True
id2005900,2,2016-01-01 12:55:48,2016-01-01 13:07:36,1,-73.959129,40.783218,-73.984352,40.759670,N,708,...,1,4,12,1,1,2016,09:19:00,None,9.323390,True
id3283533,1,2016-05-30 02:34:37,2016-05-30 02:42:19,2,-73.984055,40.759750,-73.985046,40.768341,N,462,...,151,0,2,30,5,2016,-1 days +14:52:00,None,14.825715,True
id1569539,1,2016-02-15 17:24:45,2016-02-15 17:50:12,1,-73.993706,40.749840,-73.993637,40.695976,N,1527,...,46,0,17,15,2,2016,10:39:00,None,10.633354,True
id3832186,2,2016-01-18 11:31:17,2016-01-18 11:39:03,2,-73.958427,40.764359,-73.957977,40.782108,N,466,...,18,0,11,18,1,2016,09:39:00,None,9.648644,True
id3300207,2,2016-01-18 20:28:00,2016-01-18 20:29:49,2,-73.991661,40.733391,-73.990196,40.734619,N,109,...,18,0,20,18,1,2016,09:39:00,None,9.651374,True
id3594230,1,2016-05-30 13:18:39,2016-05-30 13:21:46,1,-73.965881,40.754349,-73.957764,40.765427,N,187,...,151,0,13,30,5,2016,-1 days +14:52:00,None,14.825175,True
id3994368,2,2016-02-15 11:35:34,2016-02-15 11:50:53,1,-73.999329,40.722458,-73.976891,40.683151,N,919,...,46,0,11,15,2,2016,10:39:00,None,10.634768,True
id2145457,2,2016-01-01 00:28:59,2016-01-01 00:31:02,3,-73.955719,40.776360,-73.949287,40.781689,N,123,...,1,4,0,1,1,2016,09:19:00,None,9.324081,True
id1818831,2,2016-01-18 08:21:59,2016-01-18 08:25:48,1,-73.994041,40.741081,-73.986481,40.753311,N,229,...,18,0,8,18,1,2016,09:39:00,None,9.650696,True
id0643292,2,2016-02-15 18:17:06,2016-02-15 18:23:01,1,-73.968819,40.764229,-73.959122,40.772579,N,355,...,46,0,18,15,2,2016,10:39:00,None,10.632610,True
id0792740,1,2016-01-01 19:51:52,2016-01-01 20:03:50,2,-73.982468,40.768108,-73.981201,40.762711,N,718,...,1,4,19,1,1,2016,09:19:00,None,9.324912,True
id0899212,2,2016-01-01 02:57:55,2016-01-01 03:19:48,4,-73.948463,40.678493,-74.015663,40.711685,N,1313,...,1,4,2,1,1,2016,09:19:00,None,9.333922,True
id0949908,2,2016-01-01 12:35:46,2016-01-01 12:45:13,4,-73.991318,40.750076,-73.975471,40.757294,N,567,...,1,4,12,1,1,2016,09:19:00,None,9.326727,True
id3695577,2,2016-05-30 18:13:23,2016-05-30 18:41:54,1,-73.966530,40.767509,-74.012283,40.720501,N,1711,...,151,0,18,30,5,2016,-1 days +14:53:00,None,14.826490,True
id0550832,1,2016-05-30 19:45:29,2016-05-30 20:03:08,1,-73.991791,40.749844,-73.962921,40.794018,N,1059,...,151,0,19,30,5,2016,-1 days +14:52:00,None,14.824725,True
id0599121,2,2016-05-30 02:47:27,2016-05-30 03:06:03,6,-73.987900,40.721050,-73.968826,40.755684,N,1116,...,151,0,2,30,5,2016,-1 days +14:52:00,None,14.821852,True
id2588416,1,2016-05-30 16:28:41,2016-05-30 16:31:02,1,-73.971672,40.757324,-73.976402,40.750854,N,141,...,151,0,16,30,5,2016,-1 days +14:52:00,None,14.825472,True
id2492748,2,2016-01-18 13:59:44,2016-01-18 14:12:24,2,-73.998512,40.740398,-73.989563,40.772812,N,760,...,18,0,13,18,1,2016,09:39:00,None,9.650756,True
id1578770,2,2016-01-18 09:50:37,2016-01-18 09:54:01,1,-73.984627,40.740391,-73.982559,40.737698,N,204,...,18,0,9,18,1,2016,09:39:00,None,9.650757,True
id3944420,2,2016-01-18 12:13:52,2016-01-18 12:28:05,1,-74.016090,40.711094,-73.999847,40.723751,N,853,...,18,0,12,18,1,2016,09:40:00,None,9.653337,True
id0902261,1,2016-01-01 10:58:49,2016-01-01 11:11:36,2,-73.967308,40.763302,-74.012642,40.701614,N,767,...,1,4,10,1,1,2016,09:19:00,None,9.325396,True
id3406924,2,2016-01-01 20:48:43,2016-01-01 21:17:10,1,-73.989349,40.757061,-74.006371,40.706539,N,1707,...,1,4,20,1,1,2016,09:19:00,None,9.326024,True
id1798612,1,2016-01-18 05:02:49,2016-01-18 05:20:27,1,-74.006210,40.741222,-73.929001,40.758472,N,1058,...,18,0,5,18,1,2016,09:39:00,None,9.650683,True
id1302341,1,2016-02-15 19:21:09,2016-02-15 19:46:40,1,-73.973053,40.793495,-73.872581,40.774479,N,1531,...,46,0,19,15,2,2016,10:39:00,None,10.631097,True
id0420075,2,2016-05-30 03:52:41,2016-05-30 03:56:07,1,-74.003891,40.751667,-74.001350,40.746571,N,206,...,151,0,3,30,5,2016,-1 days +14:52:00,None,14.824907,True
id2089150,1,2016-05-30 14:42:12,2016-05-30 14:42:38,1,-74.015457,40.708027,-74.015396,40.708138,N,26,...,151,0,14,30,5,2016,-1 days +14:52:00,None,14.820553,True
id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,N,554,...,18,0,20,18,1,2016,09:39:00,None,9.651020,True
id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,N,351,...,151,0,3,30,5,2016,-1 days +14:52:00,None,14.821884,True